<!DOCTYPE html>
<html>

<body>
    <center><br /><br /><br />
        <h1>Hint:</h1>
        <h3>You have been authorized to <font size="5" color="red">succeed</font>.</h3><br /><br />
        Now, we only need these:<br /><br />
        <form action="http://{{ ip }}:{{ port }}/info" method="POST">
            username: <input type="text" name="username" value="" size="20"><br /><br />
            password: <input type="password" name="password" value="" size="20"><br />
            <br /> <input type="submit" value="Submit"></form>
</body>

</html>